<a href="https://colab.research.google.com/github/VIVEK-JADHAV/MovieRecommendation/blob/main/ColdStartFormulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing libraries

import pandas as pd
import numpy as np
import os
from ast import literal_eval
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import sparse
from scipy.sparse import csr_matrix,coo_matrix

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Loading the data

os.mkdir('/content/data')
os.chdir('/content/data')
print(os.getcwd())

!unzip '/content/drive/MyDrive/CaseStudies/RecommendationSystem/archive.zip'

/content/data
Archive:  /content/drive/MyDrive/CaseStudies/RecommendationSystem/archive.zip
  inflating: credits.csv
  inflating: keywords.csv
  inflating: links.csv
  inflating: links_small.csv
  inflating: movies_metadata.csv
  inflating: ratings.csv
  inflating: ratings_small.csv

### Cold Start Problem

In [ ]:
movies_df=pd.read_csv('/content/data/movies_metadata.csv')
movies_df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

The required columns are genres,vote_average,vote_count,title

In [ ]:
#Keeping only the required columns

movies=movies_df[['title','genres','vote_average','vote_count','original_language','id']]
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              45460 non-null  object
 1   genres             45466 non-null  object
 2   vote_average       45460 non-null  float64
 3   vote_count         45460 non-null  float64
 4   original_language  45455 non-null  object
 5   id                 45466 non-null  object
dtypes: float64(2), object(4)
memory usage: 2.1+ MB

In [ ]:
#Null values
movies.isnull().sum()

title                 6
genres                0
vote_average          6
vote_count            6
original_language    11
id                    0
dtype: int64

In [ ]:
#Rows with null values
movies[movies.isnull().any(axis=1)==True]

                            title  ...          id
19574     Shadowing the Third Man  ...      283101
19729                         NaN  ...       82663
19730                         NaN  ...  1997-08-20
21602              Unfinished Sky  ...      103902
22832             13 Fighting Men  ...      359195
29502                         NaN  ...      122662
29503                         NaN  ...  2012-09-29
32141                   Lambchops  ...      147050
35586                         NaN  ...      249260
35587                         NaN  ...  2014-01-01
37407               Prince Bayaya  ...      257095
41047              Song of Lahore  ...      332742
41872  Annabelle Serpentine Dance  ...      144410
44057       Lettre d'une inconnue  ...      380438
44410                        Yarn  ...      381096
44576                      WiNWiN  ...      381525
44655  The Surrender of Tournavos  ...      104473

[17 rows x 6 columns]

In [ ]:
#Dropping Nan values
movies.dropna(inplace=True)
movies.isnull().sum()

title                0
genres               0
vote_average         0
vote_count           0
original_language    0
id                   0
dtype: int64

In [ ]:
#Transforming genre column with first occuring value
# Empty generes are replaced by Drama as it is most occuring value
def transformGenere(genre):
  lst=[]
  for i in genre:    
    if i['name']:
      lst.append(i['name'])
  return lst if len(lst)>0 else ["Drama"]
movies['genres']=movies['genres'].apply(literal_eval).apply(transformGenere)   #literal_eval removes quotes around list
movies.head()

                         title  ...     id
0                    Toy Story  ...    862
1                      Jumanji  ...   8844
2             Grumpier Old Men  ...  15602
3            Waiting to Exhale  ...  31357
4  Father of the Bride Part II  ...  11862

[5 rows x 6 columns]

In [ ]:
#List of all the genres and languages
genres=set()
language=set()
for i,rows in movies.iterrows():
  for j in rows['genres']:
    genres.add(j)
  # print(rows['genres'])
  # break
  
  language.add(rows['original_language'])

print(genres)
print(language)

{'Documentary', 'Family', 'History', 'Fantasy', 'Horror', 'Science Fiction', 'Foreign', 'Drama', 'Thriller', 'Mystery', 'Crime', 'Western', 'Action', 'War', 'TV Movie', 'Comedy', 'Adventure', 'Romance', 'Animation', 'Music'}
{'tl', 'nb', 'lv', 'fy', 'bn', 'fr', 'cn', 'th', 'hu', 'mn', 'ku', 'si', 'bs', 'en', 'tr', 'ay', 'sr', 'eo', 'am', 'kn', 'ro', 'nl', 'uk', 'tg', 'sh', 'fa', 'ml', 'fi', 'ur', 'no', 'lb', 'la', 'el', 'cs', 'zh', 'qu', 'hr', 'ca', 'sl', 'mr', 'af', 'zu', 'pl', 'ky', 'xx', 'is', 'de', 'wo', 'sm', 'ja', 'bg', 'rw', 'bm', 'jv', 'kk', 'sk', 'cy', 'eu', 'ka', 'hy', 'ab', 'sv', 'ko', 'id', 'ps', 'ms', 'vi', 'lo', 'it', 'pt', 'gl', 'sq', 'ru', 'es', 'bo', 'he', 'pa', 'mk', 'te', 'ne', 'hi', 'lt', 'ar', 'da', 'et', 'ta', 'uz', 'mt', 'iu'}

In [ ]:
import re

def mapCodeToLanguage(row):
  d={}
  for i in row:
    key=i['iso_639_1']
    if key not in d:
      d[key]=i['name']
  return d


spoken_language=movies_df['spoken_languages'].dropna().apply(literal_eval).apply(mapCodeToLanguage)

uniqueLanguage= set()
for i in spoken_language:
  for k,v in i.items():
    if v and re.match(r"[a-zA-Z]+",v):
      uniqueLanguage.add((k,v))

print(uniqueLanguage)

{('tr', 'Türkçe'), ('gl', 'Galego'), ('ro', 'Română'), ('id', 'Bahasa indonesia'), ('pt', 'Português'), ('sr', 'Srpski'), ('bm', 'Bamanankan'), ('hu', 'Magyar'), ('la', 'Latin'), ('sq', 'shqip'), ('et', 'Eesti'), ('lt', 'Lietuvi\x9akai'), ('sv', 'svenska'), ('it', 'Italiano'), ('nl', 'Nederlands'), ('uz', 'ozbek'), ('ca', 'Català'), ('ms', 'Bahasa melayu'), ('ru', 'Pусский'), ('da', 'Dansk'), ('vi', 'Tiếng Việt'), ('rw', 'Kinyarwanda'), ('fr', 'Français'), ('mt', 'Malti'), ('pl', 'Polski'), ('wo', 'Wolof'), ('eo', 'Esperanto'), ('de', 'Deutsch'), ('af', 'Afrikaans'), ('so', 'Somali'), ('sl', 'Slovenščina'), ('az', 'Azərbaycan'), ('bs', 'Bosanski'), ('nb', 'Bokmål'), ('ff', 'Fulfulde'), ('cy', 'Cymraeg'), ('fi', 'suomi'), ('xx', 'No Language'), ('zu', 'isiZulu'), ('hr', 'Hrvatski'), ('ga', 'Gaeilge'), ('eu', 'euskera'), ('en', 'English'), ('no', 'Norsk'), ('ha', 'Hausa'), ('es', 'Español'), ('lv', 'Latviešu'), ('sk', 'Slovenčina'), ('sw', 'Kiswahili')}

Using the Weighted Rating formula of IMDB,

Weighted Rating (WR) =  v.R/(v+m)+m.C(v+m)

where:
* v is the number of votes for the movie
* m is the minimum votes required to be listed in the chart
* R is the average rating of the movie
* C is the mean vote across the whole report

In [ ]:
#Setting the m value as 85th percentile of vote_count and c as mean of vote_average
m=np.percentile(movies['vote_count'],85)
print(m)

c=np.mean(movies['vote_average'])
print(c)

82.0
5.618803494025977

In [ ]:
def filterByGenre(genre,t):
  ''' Returns true if the given genre is in genre list'''
  if t in genre:
    return True
  else:
    return False

def computeWtScore(row,m,c):
  '''Compute the weighted score'''
  v=row['vote_count']
  r=row['vote_average']
  result=v*r/(v+m)+m*c/(v+m)
  return result


def coldstart(movies,genre,lang,m,c):
  temp=movies[(movies['genres'].apply(lambda x: filterByGenre(x,genre))) & (movies['original_language']==lang)]  
  temp['WtScore']=temp.apply(lambda row: computeWtScore(row,m,c),axis=1)
  temp.sort_values('WtScore',inplace=True,ascending=False)
  return temp

In [ ]:
coldstart(movies,'Action','hi',m,c).head(10)

                              title  ...   WtScore
12418                  Jodhaa Akbar  ...  6.558602
20688  Don : The Chase Begins Again  ...  6.380946
21256            Bhaag Milkha Bhaag  ...  6.342652
24565                        Haider  ...  6.317972
36014                       Airlift  ...  6.315299
19637            Gangs of Wasseypur  ...  6.313587
22764       Don 2: The King is Back  ...  6.273754
16451                       Ghajini  ...  6.267120
39495                        Sultan  ...  6.259751
23333                  A Wednesday!  ...  6.207985

[10 rows x 7 columns]